.site__box{
  font-family: 'Rubik Bubbles';
  max-width: 1000px;
  width: 100%;
  color: red;
  font-size: 42px;
  font-weight: 38px;
  margin: 0 auto;
  margin-top: 200px;
  padding: 50px 20px;
  align-items: center;
  text-align: center;
  border-radius: 6px;
  box-shadow: 8px 6px 12px black;
}

.site__box:hover{
  color: rgb(17, 155, 187);
  background-color: yellow;
}